<br/>
<%=console.log(record[i]._id)%>
<% if (record[i].available  === true) { %>
  <button class='availableEdit' data-Boolean='false' data-recordId='<%=record[i]._id%>'>Make Unavailable</button>
<% } else { %>
  <button class='availableEdit' data-Boolean='true' data-recordId='<%=record[i]._id%>'>Make Available</button>
<% } %>
<br/>
<% if (record[i].forSale === true) { %>
  <button class='forSaleEdit' data-Boolean='false'>Mark Unavailable for Sale</button>
<% } else { %>
  <button class='forSaleEdit' data-Boolean='true'>Mark For Sale</button>
<% } %>
