<form class="" action="/records" method="post">
  <h3>Physical Details</h3>
  Physical Condition:
  <input type='text' name='physical[condition]'>
  <br/>
  Quantity:
  <input type='text' name='physical[quantity]' />
  <br/>
  Diameter in Inches:
  <input type='text' name='physical[size]' />
  <br/>
  Year Pressed:
  <input type='text' name='physical[yearPressed]' />
  <br/>
  Die Cut Shape:
  <input type='text' name='physical[dieCutShape]' />
  <br/>
  Audiofile Features:
  <input type='text' name='physical[audiofileFeatures]' />
  <br/>
  RPM Speed:
  <input type='text' name='physical[rpmSpeed]' />
  <br/>
  Hole Configuration:
  <input type='text' name='physical[holeConfiguration]' />
  <br/>
  Production Run at Release:
  <input type='text' name='physical[productionRun]' />
  <br/>
  Where Pressed:
  <input type='text' name='physical[wherePressed]' />
  <br/>
  Where Released:
  <input type='text' name='physical[whereReleased]' />
  <br/>
  <br/>
  <h3>Artist Details</h3>
  Lead Artist(s):
  <input type='text' name='artist[leadArtists]' />
  <br/>
  Band Member(s):
  <input type='text' name='artist[bandMembers]' />
  <br/>
  Studio Musician(s):
  <input type='text' name='artist[studioMusicians]' />
  <br/>
  Songwriter(s):
  <input type='text' name='artist[songwriters]' />
  <br/>
  Movie Cast:
  <input type='text' name='artist[movieCast]' />
  <br/>
  <br/>
  <h3>Music Details</h3>
  Tracks:
  <input type='text' name='music[tracks]' />
  <br/>
  Year Recorded:
  <input type='text' name='music[yearRecorded]' />
  <br/>
  Language:
  <input type='text' name='music[language]' />
  <br/>
  Copyright Holder:
  <input type='text' name='music[copyrightHolder]' />
  <br/>
  Year of Copyright:
  <input type='text' name='music[yearOfCopyright]' />
  <br/>
  Studio:
  <input type='text' name='music[studio]' />
  <br/>
  Producer:
  <input type='text' name='music[producer]' />
  <br/>
  <br/>
  <h3>Album Art</h3>
  Album Cover Photo:
  <input type='text' name='art[photo]' />
  <br/>
  Color or Black and White:
  <input type='text' name='art[colorBW]' />
  <br/>
  Art Theme:
  <input type='text' name='art[artTheme]' />
  <br/>
  Artist(s):
  <input type='text' name='art[artists]' />
  <br/>
  Size:
  <input type='text' name='art[size]' />
  <br/>
  Die Cut:
  <input type='text' name='art[dieCut]' />
  <br/>
  Shape:
  <input type='text' name='art[shape]' />
  <br/>
  Objects Inside:
  <input type='text' name='art[objectsInside]' />
  <br/>
  Mistakes:
  <input type='text' name='art[mistakes]' />
  <br/>
  Color Theme:
  <input type='text' name='art[colorTheme]' />
  <br/>
  Cover Condition:
  <input type='text' name='art[coverCondition]' />
  <br/>
  <br/>
  <h3>Other Details</h3>
  Genre:
  <input type='text' name='record[genre]' />
  <br/>
  Use:
  <input type='text' name='record[use]' />
  <br/>
  Last Price:
  <input type='text' name='record[lastPrice]' />
  <br/>
  Available:
  Yes:  <input type='radio' name='record[available]' value='true' checked />
  No: <input type='radio' name='record[available]' value='false' />
  <br/>
  Notes:
  <textarea type='text' name='record[notes]'></textarea>
  <br/>
  <br/>
  <button type="sumbit" name="button">Add</button>
</form>