<form class="col s12" action="/records" method="post">
  <h3>Physical Details</h3>
  Physical Condition:
  <input type='text' name='condition'>
  <br/>
  Quantity:
  <input type='number' name='quantity' />
  <br/>
  Diameter in Inches:
  <input type='number' name='sizeDia' />
  <br/>
  Year Pressed:
  <input type='number' name='yearPressed' />
  <br/>
  Die Cut Shape:
  <input type='text' name='dieCutShape' />
  <br/>
  Audiofile Features:
  <input type='text' name='audiofileFeatures' />
  <br/>
  RPM Speed:
  <input type='number' name='rpmSpeed' />
  <br/>
  Hole Configuration:
  <input type='text' name='holeConfiguration' />
  <br/>
  Production Run at Release:
  <input type='text' name='productionRun' />
  <br/>
  Where Pressed:
  <input type='text' name='wherePressed' />
  <br/>
  Where Released:
  <input type='text' name='whereReleased' />
  <br/>
  <br/>
  <h3>Artist Details</h3>
  Lead Artist(s):
  <input type='text' name='leadArtists' />
  <br/>
  Band Member(s):
  <input type='text' name='bandMembers' />
  <br/>
  Studio Musician(s):
  <input type='text' name='studioMusicians' />
  <br/>
  Songwriter(s):
  <input type='text' name='songwriters' />
  <br/>
  Movie Cast:
  <input type='text' name='movieCast' />
  <br/>
  <br/>
  <h3>Music Details</h3>
  Tracks:
  <input type='text' name='tracks' />
  <br/>
  Year Recorded:
  <input type='number' name='yearRecorded' />
  <br/>
  Language:
  <input type='text' name='language' />
  <br/>
  Copyright Holder:
  <input type='text' name='copyrightHolder' />
  <br/>
  Year of Copyright:
  <input type='number' name='yearOfCopyright' />
  <br/>
  Studio:
  <input type='text' name='studio' />
  <br/>
  Producer:
  <input type='text' name='producer' />
  <br/>
  <br/>
  <h3>Album Art</h3>
  Album Cover Photo:
  <input type='text' name='photo' />
  <br/>
  Color or Black and White:
  <input type='text' name='colorBW' />
  <br/>
  Art Theme:
  <input type='text' name='artTheme' />
  <br/>
  Artist(s):
  <input type='text' name='artists' />
  <br/>
  Size:
  <input type='text' name='size' />
  <br/>
  Die Cut:
  <input type='text' name='dieCut' />
  <br/>
  Shape:
  <input type='text' name='shape' />
  <br/>
  Objects Inside:
  <input type='text' name='objectsInside' />
  <br/>
  Mistakes:
  <input type='text' name='mistakes' />
  <br/>
  Color Theme:
  <input type='text' name='colorTheme' />
  <br/>
  Cover Condition:
  <input type='text' name='coverCondition' />
  <br/>
  <br/>
  <h3>Other Details</h3>
  Genre:
  <input type='text' name='genre' />
  <br/>
  Use:
  <input type='text' name='use' />
  <br/>
  Last Price:
  <input type='text' name='lastPrice' />
  <br/>
  Available:
  <input type='radio' name='available' value='true' id='availableTrue' checked /><label for='availableTrue'>Yes</label>
  <input type='radio' name='available' value='false' id='availableFalse'/><label for='availableFalse'>No</label>
  <br/>
  For Sale:
  <input type='radio' name='forSale' value='true' id='forSaleTrue' checked /><label for='forSaleTrue'>Yes</label>
  <input type='radio' name='forSale' value='false' id='forSaleFalse'/><label for='forSaleFalse'>No</label>
  <br/>
  <br/>
  <div class='input-field'>
  Notes:
  <textarea id="textareaNotes" class="materialize-textarea" name='notes'></textarea>
  </div>
  <br/>
  <br/>
  <button type="sumbit" name="button">Add</button>
</form>
