<%= console.log(user.recordOfWeek.length) %>
<% if (user.recordOfWeek.length) { %>
<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src='<%=user.recordOfWeek[0].photo%>'>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Record of the Week<i class="material-icons right">more_vert</i></span>
    <p><a href='/records/<%=user.recordOfWeek%>'>More information</a></p>

    <% if (locals.user == '56046cd06847f33c451c4326') { %>
      <a href="#">Edit</a>
    <% } %>

  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Record of the Month<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>

<br/>
<br/>

<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src='<%=user.recordOfMonth[0].photo%>'>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Record of the Month<i class="material-icons right">more_vert</i></span>
    <p><a href="#">More Information</a></p>

    <% if (locals.user == '56046cd06847f33c451c4326') { %>
      <a href="#">Edit</a>
    <% } %>

  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Record of the Month<i class="material-icons right">close</i></span>
    <p>More details about the Record of the Month</p>
  </div>
</div>
<% } %>