<% include ../partials/header %>
All Records

<% for (var i = 0; i < record.length; i++){ %>
  <div>
  <%=record.tracks%>
  <br/>
  <img src='<%=record[i].photo%>' alt='Record Photo' />
  <br/>
  Last Price: <%=record.lastPrice%>
  <br/>
  <button>More Info</button>
  <button>Buy</button>
  <br/>

  </div>
<% } %>


<% include ../partials/footer %>