<% include ../partials/header %>

<% if (locals.user !== null) { %>
  <h2>Add New Record</h2>
  <% include ../partials/newRecordForm %>
<% } else { %>
  Please log in to add a new record
<% } %>

<% include ../partials/footer %>






