<% include ../partials/header %>

<h2>Edit Record</h2>
  <img src='<%=record.art.photo%>' alt='Photo of Record' />

  <% if(record.owner === locals.user) { %>
      <% include ../partials/recordFormEdit %>
  <% } else { %>
      <% include ../partials/recordFormView %>
  <% } %>

<% include ../partials/footer %>