<% include ../partials/header %>

<h2>Edit Record</h2>
  <img src='<%=record.photo%>' alt='Photo of Record' width='250px'/>

  <% if(record.owner == locals.user._id) { %>
      <% include ../partials/recordFormEdit %>
  <% } else { %>
      <% include ../partials/recordFormView %>
  <% } %>

<% include ../partials/footer %>