<% include ../partials/header %>

  <h2>Signup for Records</h2>

  <form method='POST' action='/signup'>
    Email:
    <input type='text' name='user[email]' autofocus/>
    <br/>
    Password:
    <input type='password' name='user[password]'/>
    <br/>
    <input type='hidden' name='user[admin]' value='false' />
    <br/>
    <input type='submit' value='Create Account'/>
    <br/>
  </form>

<% include ../partials/footer %>
