<% include ../partials/header %>

<h2>Hello <%= user.email %> </h2>

View your records below: <br/>
Records: <br/>
<% for (var i = 0; i < user.records.length; i++) { %>
  <a href="/records/<%=user.records[i]._id%>"><%=[i+1]%>. <%= user.records[i].genre %></a>
  <br/>
<% } %>

<% include ../partials/footer %>
